body{
     font-family: "M PLUS U", sans-serif;
}
header{
    background-color: #f3f9f9;
}
header .wrapper {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}
.header-logo {
    margin-left: 20px;
}
.header-list ul{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header-list li{
    list-style: none;
    margin-left: 20px;
}
.header-list ul li a{
    text-decoration: none;
    color: #333333;
}
.header-list ul li a:hover{
    color: #666666;             /* 少しグレーっぽくする */
    border-bottom: 2px solid #333333; /* 下線を追加する */
    padding-bottom: 4px;        /* 下線と文字の間に少し隙間を作る */
    transition: 0.3s;           /* パッと変わるのではなく、ふわっと色を変える */
}
.container{
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}
.content-wrapper{
    display: flex;
    gap: 40px;
}
main h1{
    text-align: center;
    margin-top: 80px;
}
main h2{
    text-align: center;
}
.about p{
    max-width: 100%;
    line-height: 1.8;
}
.skills ul li{
    list-style: none;
    margin-bottom: 8px;
}
.about, .skills {
  flex: 1;          /* 均等に幅を分ける */
}
.skills ul{
    margin: 0;
    padding-bottom: 20px;
    padding-left: 0;

}
.skills h3{
    margin-bottom: 10px;
}
.floating-btn{
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: inherit;
    display: inline-block;
    color: white;
    background-color: darkslategray;
    padding: 10px 20px;
    border-radius: 40px;
}
section h2 {
  text-align: left;
  margin-top: 40px; /* 必要であれば余白も調整 */
}
.portfolio-contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.portfolio-item{
    width: calc(25% - 15px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 300px;
}
.portfolio-item img{
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}
.service-contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.service-item{
    width: calc(33.33% - 15px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 15px;
    align-items: flex-start;
}
.service-icon{
    width: 50px;
    flex-shrink: 0;
}
.icon-wrapper{
    width: 50px;
    flex-shrink: 0;
}
.icon-wrapper img{
    width: 100%;
    height: auto;
}
.text-wrapper h3{
    margin-top: 0px;
    margin-bottom: 10px;
}
.about-container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}
.about-image{
    width: 300px;
    flex-shrink: 0;
}
.about-image img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
}
.about-content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.about-content dl{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.about content dt{
    grid-column: span 2;
    font-weight: bold;
}
